@font-face{	
	font-family: "Zen_Kaku_Gothic_Antique";
	src: url("Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Light.ttf");
	}
  
html {
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

html,
body {
  font-family:"Zen_Kaku_Gothic_Antique";
  height: 100%;
  margin: 25px;;
  padding: 0; 
}

body {
  font-family:"Zen_Kaku_Gothic_Antique";
  background: #DCDCDC;
  font-size: 16px;
  color: #767676;
  margin:14px
}

#logo {
height: 300px;
width: 1000px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#docu {
	margin-right: 150px;
	margin-left:150px;
	text-align:justify;
	color:black;
	font-size: 16px;
	background:white;
}

#about {
	margin-right: 150px;
	margin-left:150px;
	text-align:justify;
	color:black;
	font-size: 18px;
}

#team-info {
	margin-right: 150px;
	margin-left:150px;
	font-size:14px;	
}
.card-header{
font-size:18px;}
.card{
background:none;}
.card-img-top{
width:200px;}

#intestazione {
	margin-right: 150px;
	margin-left:150px;
	text-align:center;
	color:black;
	font-size: 14px;
}

a:link { 
color:black !important; 
}

.nav-link { 
color:black !important; 
}


header {
}

#MagTitle{
	font-family:"Zen_Kaku_Gothic_Antique";
	font-weight:bold; 
	color:#000000;
}

	