@font-face{	
	font-family: "Zen_Kaku_Gothic_Antique";
	src: url("Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Light.ttf");
	}
  
html {
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

html,
body {
  font-family:"Zen_Kaku_Gothic_Antique";
  height: 100%;
  margin: 25px;;
  padding: 0; 
}

body {
  font-family:"Zen_Kaku_Gothic_Antique";
  background: white;
  font-size: 16px;
  color: black;
  margin:14px
}

#logo {
height: 300px;
width: 1000px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#person-tab_1, #person-tab_2, #person-tab_3{
background-color: #fc914a;
color: black;
}

#place-tab_1, #place-tab_2, #place-tab_3{
background-color: #517f96;
color: black;
}

#organisation-tab_1, #organisation-tab_2, #organisation-tab_3{
background-color: #f2e94a;
color: black;
}

#concept-tab_1, #concept-tab_2, #concept-tab_3{
background-color: #ff5d8f;
color: black;
}

#docu {
	margin-right: 20px;
	margin-left:20px;
	text-align:justify;
	color:black;
	font-size: 16px;
}

#about {
	margin-right: 20px;
	margin-left:20px;
	text-align:justify;
	color:black;
	font-size: 20px;
}

#team-info {
	margin-right: 150px;
	margin-left:150px;
	font-size:14px;	
}

.foto_home{
width:670px;
height:420px;
margin-right: 150px;
margin-left:150px;}

#intestazione {
	margin-right: 150px;
	margin-left:150px;
	text-align:center;
	color:black;
	font-size: 14px;
}

header {
}
#logo_header{
width:300px;
height:auto;
}

#MagTitle{
	font-family:"Zen_Kaku_Gothic_Antique";
	font-weight:bold; 
	color:#000000;
}

#dropdownMenuButton,#dropdownMenuButton1,#nav-toggle-issue {
	background-color:whitesmoke;
	color:black;
	border:black;
	border-style: solid;
}

#footer {
  position:static;
  bottom: 0;
  left: 0;
  color: black;
  text-align: center;
  width: 100%;
  margin: 2px;
  font-size: 14px; 
}

.card {
margin: 0 auto;
margin-bottom: 10px;
border:black;
}
.card-header{
font-size:18px;
text-align:center;
background-color:white;
border:black;}
.card{
background:white;
border:black;}

.card-img-top{
width:180px;}

/*nuova parte*/

.col-md-12 {
  padding: 0 20px;
}	

@media only screen and (max-width:800px) {
  /* For tablets: */
  .col-md-12 {
    width: 80%;
    padding: 0;
  }
    .card-img-top{
    width:80px;
    }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .col-md-12 {
    width: 100%;
    padding: 0;
    font-size: 15px;
  }
  .card-img-top{
    width:80px;
    }
}
	